@charset "UTF-8";
/* CSS Document */


.grid-container {
  display: grid;

  /*可用于窗口自适应*/
  place-content: center;
  grid-template-columns: repeat(auto-fit, 20rem);  /*每列自动填充 宽度为20rem */
/*  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));*/

  grid-row-gap: 24px;
  grid-column-gap: 64px;

  padding-top: 24px;
  padding-bottom: 10px;


/*  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  padding: 2rem;*/
}


.grid-item {
  color: #888888; 
  position: relative;
  padding: 1.25rem;
  font-size: 1.0rem;
  text-align: center;
  border-radius: 8px;
  border: 1px solid #e0e0e0; 
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px  2px rgba(0, 0, 0, .25);
  transition: background-color 0.2s ease;
  transition: transform 0.3s ease, box-shadow 0.3s ease;


/*确保文字居中显示*/
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;


/*确保文字长度不会超出item区域*/
  overflow-wrap: break-word;
  word-break: break-word;
  hyphens: auto;
}


/* 强制移除所有链接的下划线和颜色 */
.grid-item:link,
.grid-item:visited,
.grid-item:hover,
.grid-item:active {
  text-decoration: none !important;  /* 去除下划线 */
  color: inherit !important; /* 使用父元素的颜色，避免蓝色 */
}




/**
 * 默认主题 CSS 变量来获取可以被覆盖的变量：https://github.com/vuejs/vitepress/blob/main/src/client/theme-default/styles/vars.css
 **/
:root {
/* 自定义主页 name 的颜色  */
  --vp-home-hero-name-color: red;
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: -webkit-linear-gradient(120deg, #bd34fe, #41d1ff);


/* 设置中间显示内容区域最大宽度 */
/*  --vp-layout-max-width: 1640px;*/
  --vp-layout-max-width: 100%;


/*导航条高度*/
  --vp-nav-height: 64px;


/*  --vp-sidebar-bg-color:red;
  --vp-sidebar-width: 272px;*/


/*  --vp-c-brand-1: #646cff;
  --vp-c-brand-2: #747bff;*/
 
}




/***********覆盖属性使中间的内容区域的宽度变大****************/




/* 控制内容区最大宽度 */
/*.VPDoc .content {*/
  /* 默认大概是 960px */
/*  max-width: 1640px !important; 
}*/

/* 如果想让正文部分占更多空间，可以设置 flex */
/*.VPDoc .container {
  display: flex;
  justify-content: center;
  padding: 0px;
}

.VPDoc .content {
  flex: 1;
}
*/


/* 设置中间内容区域的宽度 */
/*.VPDoc.has-aside .content-container[data-v-10119189]*/
/*.VPDoc.has-aside.has-aside .content-container*/
.VPDoc.has-aside.has-aside .content-container {
/*  min-width: 640px;*/
/*  max-width: 3660px;*/

  max-width: 100%;
}
























